@page
@model GoldShop.Views.Bank.SamanBack

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>خرید موفق</title>
</head>
<body>
<div>
    خرید با موفقیت انجام شد
</div>
</body>
</html>